<div class="container-fluid app">
      <!-- ALERTA -->
    <div class="row"> 
        <div class="col-sm-4">
          <div class="alert alert-success alert-dismissable" *ngIf="msg">
            <a href="#" class="close" (click)="closeAlert()">
              &times;
            </a>
            {{msg}}
          </div>
        </div>
    </div>   

  <!-- FORMULARIO CREAR PRODUCTO -->
  <div class="row">
    <div class="col-sm-8">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="form-group">
              <input type="file" (change)="uploadFile($event)">
          </div>
          
          <!-- NAME -->
          <p>
          <mat-form-field class="inputLonger" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          </p>

          <p>
          <!-- DESCRIPTION -->
          <mat-form-field class="inputLonger" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
          </p>

          <div class="row">
            <!-- PRICE -->
            <p>
              <mat-form-field class="inputLonger" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="number" placeholder="Price" formControlName="price">
              </mat-form-field>
            </p>

            <!-- STOCK -->
            <p>
              <mat-form-field class="inputLonger" appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="number" placeholder="Stock" formControlName="stock">
              </mat-form-field>
            </p>
          </div>

          <div class="row">
            <!-- POPULARITY -->
            <p>
              <mat-form-field class="inputLonger" appearance="outline">
                <mat-label>Popularity</mat-label>
                <input matInput type="number" placeholder="Popularity" formControlName="popularity">
              </mat-form-field>
            </p>
          
            <!-- CATEGORY -->
            <p>
              <mat-form-field class="inputLonger" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category.name"  >
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>

          <!-- BUTTON -->
          <div class="form-group">
              <button class="btn btn-danger btn-block btn-lg">Create</button>
          </div>
      </form>
    </div>
  </div>
    
      
    
    <!-- TABLA PRODUCTOS -->
    <div class="row">
      <div class="col-sm-7">
        <h2>Products: </h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <img style="width:60px"src='{{product.image_path}}'>
                <td>{{product.price}} €</td>
                <td>
                    <a (click)="editProduct(i)" class="btn btn-success">
                    Edit
                    </a>
                    <a (click)="deleteProduct(i)" class="btn btn-danger">
                    Delete
                    </a>
                </td>
            </tr>
  
          </tbody>
        </table>
      </div>
      
      <!-- UPDATE PRODUCT -->
      <div class="col-sm-5" [hidden]="hideUpdate">
        <h2>Update Product:</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="id" class="control-label col-sm-2">
                ID
                </label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="id"
                    name="id" [(ngModel)]="model2._id"
                    placeholder="Enter a New Id"
                >
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">
                Name
                </label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="name"
                    name="name" [(ngModel)]="model2.name"
                    placeholder="Enter a New Name"
                >
                </div>
            </div>
        
          <div class="form-group">
            <label for="price" class="control-label col-sm-2">
              Price
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="price"
                name="price" [(ngModel)]="model2.price"
                placeholder="Enter a New Price"
              >
            </div>
          </div>
          
          <!-- Popularity -->
          <div class="form-group">
            <label for="popularity" class="control-label col-sm-2">
            Popularity
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="popularity"
                    name="popularity" [(ngModel)]="model.popularity"
                    placeholder="Enter a New Popularity"
                >
            </div>
        </div>

        <!-- Stock -->
        <div class="form-group">
          <label for="stock" class="control-label col-sm-2">
          Stock
          </label>
          <div class="col-sm-10">
              <input type="text" class="form-control" id="stock"
                  name="stock" [(ngModel)]="model.stock"
                  placeholder="Enter a New Stock"
              >
          </div>
        </div>

        <!-- Category -->
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
            <mat-select id="category" name="category" [(ngModel)]="model.category">
              <mat-option *ngFor="let category of categories" [value]="category.name"  >
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="updateProduct()">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
    