<div class="container-fluid app">
    <!-- ALERT -->
    <div class="row"> 
        <div class="col-sm-4">
          <div class="alert alert-success alert-dismissable" *ngIf="msg">
            <a href="#" class="close" (click)="closeAlert()">
              &times;
            </a>
            {{msg}}
          </div>
        </div>
    </div>   

  <!-- CREATE PRODUCT -->
    <form [formGroup]="form" (ngSubmit)="addProduct()">
    <h2>Create Product: </h2>
      <div class="row">
        <div class="col-4">
          <!-- NAME -->
          <p>
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name">
          </mat-form-field>
          </p>

          <!-- DESCRIPTION -->
          <p>
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
          </p>

          <div class="row ">
            <!-- PRICE -->
            <p>
              <mat-form-field class="inputLonger2" appearance="outline">
                <mat-label>Price</mat-label>
                <input matInput type="number" placeholder="Price" formControlName="price">
              </mat-form-field>
            </p>

            <!-- STOCK -->
            <p>
              <mat-form-field class="inputLonger2" appearance="outline">
                <mat-label>Stock</mat-label>
                <input matInput type="number" placeholder="Stock" formControlName="stock">
              </mat-form-field>
            </p>
          </div>

          <div class="row ">
            <!-- POPULARITY -->
            <p>
              <mat-form-field class="inputLonger2" appearance="outline">
                <mat-label>Popularity</mat-label>
                <input matInput type="number" placeholder="Popularity" formControlName="popularity">
              </mat-form-field>
            </p>
          
            <!-- CATEGORY -->
            <p>
              <mat-form-field class="inputLonger2" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories" [value]="category.name"  >
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
          </div>
        </div>

        <!-- Rigth side -->
        <div class="col-sm-3">
            <div>
              <div class="form-group">
                  <input type="file" accept="image/*" (change)="uploadFile($event)">
              </div>

              <!-- Image Preview -->
              <div class="imagePreview">
                <div  *ngIf="imageURL && imageURL !== ''">
                  <img [src]="imageURL" width="300px" [alt]="uploadForm">
                </div>
              </div>
            </div>

            <!-- BUTTON -->
            <div class="form-group">
                <button class="btn btn-danger btn-block btn-lg">Create</button>
            </div>
        </div>
      </div> 
          
    </form>

    <!-- TABLA PRODUCTOS -->
    <div class="row">
      <div class="col-sm-7">
        <h2>Products: </h2>
        <table class="table table-bordered">
          <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products; let i = index">
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <img style="width:60px" :src="http://localhost:3001/images/{{product.image_path[0]}}">
                <td>{{product.price}} €</td>
                <td>
                    <a (click)="editProduct(i)" class="btn btn-success">
                    Edit
                    </a>
                    <a (click)="deleteProduct(i)" class="btn btn-danger">
                    Delete
                    </a>
                </td>
            </tr>
  
          </tbody>
        </table>
      </div>
      
      <!-- UPDATE PRODUCT -->
      <div class="col-sm-5" [hidden]="hideUpdate">
        <h2>Update Product:</h2>
        <form class="form-horizontal" >

          <!-- ID -->
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>ID</mat-label>
             <input matInput type="text" class="form-control" id="id"
                name="id" [(ngModel)]="model2._id"
                placeholder="Enter a New Id"
              >
          </mat-form-field>

          <!-- NAME -->
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Name</mat-label>
              <input matInput type="text" class="form-control" id="name"
              name="name" [(ngModel)]="model2.name"
              placeholder="Enter a New Name">
          </mat-form-field>

          <!-- DESCRIPTION -->
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" class="form-control" id="description"
            name="description" [(ngModel)]="model2.description"></textarea>
          </mat-form-field>
          

          <!-- PRICE -->
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Price</mat-label>
              <input matInput type="number" class="form-control" id="price"
                name="price" [(ngModel)]="model2.price"
                placeholder="Enter a New Price">
          </mat-form-field>
        
          <!-- POPULARITY -->
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Popularity</mat-label>
              <input matInput type="number" class="form-control" id="popularity"
                name="popularity" [(ngModel)]="model2.popularity"
                placeholder="Enter a New Popularity">
          </mat-form-field>

          <!-- STOCK -->
          <mat-form-field class="inputLonger1" appearance="outline">
            <mat-label>Stock</mat-label>
              <input matInput type="number" class="form-control" id="stock"
                    name="stock" [(ngModel)]="model2.stock"
                    placeholder="Enter a New Stock">
          </mat-form-field>

          <!-- CATEGORY -->
          <div class="form-group">
            <mat-form-field class="inputLonger1" appearance="outline">
              <mat-label>Category</mat-label>
              <mat-select id="category" name="category" [(ngModel)]="model2.category">
                <mat-option *ngFor="let category of categories" [value]="category.name">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="updateProduct()">
                Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>