
<div class="container-">

    <app-seller-products></app-seller-products>

</div>


<!-- 
<div nz-row class="sellerProfile">
    <div nz-col nzSpan="4" class="lateral">
        <button (click)="toggle()" id="bt">
            {{buttonName}}
        </button>
    </div> -->
    <!-- <div nz-col nzSpan="6" *ngIf="!show">
        <h2>Perfil</h2>
        <p>Nombre vendedor: {{ users.userName }}</p>
        <p>Email contacto: {{ users.email }}</p>
        <button>Editar perfil</button>
    </div>   -->

    

    <!-- <div class="sellerProducts" nz-col nzSpan="20" *ngIf="!show">
        <button>Create Product</button>
    
        <app-seller-products></app-seller-products>
        
    </div> -->
    <!-- <div>
        <app-create-product></app-create-product>
    </div> -->
<!-- </div> -->


