
<!-- <div class="container-fluid app"> -->
    <!-- ALERT -->
    <!-- <div class="row"> 
        <div class="col-sm-4">
          <div class="alert alert-success alert-dismissable" *ngIf="msg">
            <a href="#" class="close" (click)="closeAlert()">
              &times;
            </a>
            {{msg}}
          </div>
        </div>
    </div>    -->
    <!-- CREATE PRODUCT  -->
    <!-- <app-create-product></app-create-product> -->

    <!-- LIST PRODUCT -->
    <!-- <app-list-seller-products></app-list-seller-products> -->

    <!-- UPDATE PRODUCT -->
    <!-- <app-update-product></app-update-product>
</div> -->

    <app-seller-products></app-seller-products>

