<main>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
    <div class="container">
      <img src="https://i.pinimg.com/originals/3b/11/b3/3b11b32b784eb436fa7429c4a587a49d.jpg" alt="Avatar" class="image">
      <div class="middle">
        <div class="text">Shirt</div>
      </div>
    </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container">
        <img src="https://previews.123rf.com/images/ylivdesign/ylivdesign1612/ylivdesign161203639/67527845-icono-de-la-sudadera-con-capucha-ilustraci%C3%B3n-del-esquema-del-icono-del-vector-de-la-sudadera-con-capuch.jpg" alt="Avatar" class="image">
        <div class="middle">
          <div class="text">Sweatshirt</div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="container">
          <img src="https://img.freepik.com/vector-gratis/mascarilla-medica-diseno-plano_23-2148469068.jpg?size=338&ext=jpg" alt="Avatar" class="image">
          <div class="middle">
            <div class="text">Mask</div>
          </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
          <div class="container">
            <img src="https://image.freepik.com/vector-gratis/conjunto-varios-dibujos-animados-ilustracion-vectorial_6997-1443.jpg" alt="Avatar" class="image">
            <div class="middle">
              <div class="text">Others</div>
            </div>
          </div>
    </mat-grid-tile>
  </mat-grid-list>
      
    
    <app-results></app-results>
    <h3 class="product-title w-100">Productos</h3>
    <div class="content" fxLayout="row wrap">
        <div fxFlex="25%" *ngFor="let product of products | slice:0:20">
          <mat-card class="mat-elevation-z4" >
            <mat-card-header>
              <mat-card-title>{{product.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image class="product-img" [src]="product.image_path" alt="" [routerLink]="'/details/' + product._id" alt={{product.name}}>
            <mat-card-actions>
              <i class="fas fa-thumbs-up fa-2x"></i>
              <i class="fas fa-share-alt fa-2x"></i>
              <p>{{product.price}} €</p>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>

    
    
    
</main>


        
        