<footer class="Footer">
    <div class="wrap">
      <div>
        <div>
          <h3>Datos Contacto</h3>
            <ul>
                <li>Correo: shybuytshirts@gmail.com</li>
                <li>Tlfn: 612345678</li>
                <li>C/ Falsa 123</li>
            </ul>
         </div>
        <div>
            <h3>Navegación</h3>
        <ul>
            <li>Home</li>
            <li>Busquedas</li>
            <li>Carrito</li>
        </ul>
        </div>
      </div>
    </div>
</footer>