@import '../../../colors.scss';
.header {
    background-image: url(https://media.captureone.com/cache/5/6/e/c/b/b/56ecbb60aada139fe296c3eb1e0818771554ac47.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: center;
    color: $white;
    height: 5em;
    width: 100%;
    font-size: 1rem;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

    .guestZone, .userZone, .leftHeader {
        display: flex;
    }

    h1{
        font: 20px, #D5BAB0, Roboto;
    }
    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        transition: all 0.8s;
        span:hover {
            background-color: $lightblue;
        }
    }
    
        

    .logo-header{
        width: 60px;
    }

    
}
.fa-shopping-cart{
    height: 1em;
}

input{
    color: black
}