
<header class="header">
    <!-- <img class="logo-header"routerLink="home" routerLink="home" routerLinkActive="active" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Google_Lens_-_new_logo.png/600px-Google_Lens_-_new_logo.png" alt="movit-logo"> -->
    <div class="userZone login-header">
        <a routerLink="home" routerLinkActive="active"><span>Home</span></a>
        <a routerLink="results" routerLinkActive="active"><span>Results</span></a>
    </div>

    <!-- SIN LOGEAR -->
    <div class="register userZone" *ngIf="!usersService.getUser()">
        <a [routerLink]="['/register']" routerLinkActive="active">REGISTER</a>
        <a [routerLink]="['/login']" routerLinkActive="active">LOGIN</a>
    </div>

    <!-- LOGEADO -->
    <div class="userZone" *ngIf="usersService.getUser() as user">
        
        <div class="userZone" *ngIf="usersService.getUser().role == 'user'">
            <a [routerLink]="['/profile']" routerLinkActive="active"><span>User Profile</span></a>
        </div>
        <div class="userZone" *ngIf="usersService.getUser().role == 'admin'">
            <a [routerLink]="['/adminProfile']" routerLinkActive="active"><span>Admin Profile</span></a>
        </div>
        <div class="userZone" *ngIf="usersService.getUser().role == 'seller' ">
            <a [routerLink]="['/sellerProfile']" routerLinkActive="active"><span>Seller Profile</span></a>
        </div>
        
        <div matBadge="15" matBadgeColor="warn">
            <a [routerLink]="['/cart']" routerLinkActive="active">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
        <div>
            <a class="bt-rent userZone" (click)="logout()">LOGOUT</a>
        </div>      
    </div>
    
</header>
