@import '../../../colors.scss';
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $darkblue;
    color: $white;
    height: 60px;
    font-size: 1rem;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

    .guestZone, .userZone, .leftHeader {
        display: flex;
    }

    h1{
        font: 20px, #D5BAB0, Roboto;
    }
    a {
        all: unset;
        padding: 0.8em;
        cursor: pointer;
        transition: all 0.8s;
        &:hover {
            background-color: $lightblue;
        }
        &.active {
            background-color: $lightblue;
        }
    }

    .logo-header{
        width: 60px;
    }

    .fa-shopping-cart{
        height: 1.4em;
    }
}
