<div nz-row class="product-box">
    <div nz-col nzSpan="10" class="img">
        <img class="product-img" :src="http://localhost:3001/images/{{detalle.image_path[0]}}" alt="" [routerLink]="'/details/' + product._id"> 
    </div>
    <div nz-col nzSpan="12" class="details">
        <h2 class="product-name">{{ detalle.name }}</h2>
        <p class="product-description">{{ detalle.description }}</p>
        <p class="product-price ">{{ detalle.price }} €</p>
        <p class="product-stock">Stock: {{ detalle.stock }}</p>
        <p class="product-category">{{ detalle.category }}</p>
        <button class="bt-rent" (click)="addToCart(detalle)" >Añadir al carrito</button>
        <br/>
        <div class="iconsDetail">
          <i class="fas fa-thumbs-up fa-2x"></i>
          <i class="fas fa-share-alt fa-2x"></i>
        </div>
    </div>
</div>
<h3>Sugerencias</h3>
<div class="content" fxLayout="row wrap">
    <div fxFlex="25%" *ngFor="let product of products | slice:0:4">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>{{product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image class="sugerencias" :src="http://localhost:3001/images/{{product.image_path[0]}}" alt="" [routerLink]="'/details/' + product._id" alt={{product.name}}>
        <mat-card-actions>
          <i class="fas fa-thumbs-up fa-2x"></i>
          <i class="fas fa-share-alt fa-2x"></i>
          <p>{{product.price}} €</p>
        </mat-card-actions>
      </mat-card>
    </div>
</div>