<div nz-row class="product-box">
    <div nz-col nzSpan="12" class="img">
        <img class="product-img" [src]="detalle.image_path" alt="" [routerLink]="'/details/' + product._id"> 
    </div>
    <div nz-col nzSpan="12" class="details">
        <p class="product-name">{{ detalle.name }}</p>
        <p class="product-description">{{ detalle.description }}</p>
        <p class="product-price ">{{ detalle.price }} €</p>
        <p class="product-stock">Stock: {{ detalle.stock }}</p>
        <p class="product-category">{{ detalle.category }}</p>
        <button>Comprar</button>
    </div>
</div>