<div class="registerContainer">
    <h2>Register Form</h2>
    <form #registerForm="ngForm" (submit)="register(registerForm)">
        <input type="userName" name="userName" ngModel
        required
        placeholder="Introduce your userName">
        <input type="email" name="email" ngModel
        email 
        required
        placeholder="Introduce your email">
        <!-- pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,40}$" -->
        <input type="password" 
        required 
        name="password" ngModel
         placeholder="Introduce your password">
         <small class="passworError" *ngIf="registerForm.controls.password?.errors?.pattern">
             Your password must contain at least a lowercase letter, a uppercase letter, a number, and must be between 8 and 40 characters
         </small>
        <button type="submit">Register</button>
    </form>
</div>